<h1><strong>Concert Tracker</strong><small> Start with a venue to add concerts</small></h1>

  <form action="/venues" method='post'>
    <label for='venuename'><h3>Venue name: </h3></label>
    <input id='venuename' name='venuename' type='text' placeholder='The Marquee'>
  <button type="submit" class="btn btn-success">Add a venue</button>
</form>

  <% @venues.each() do |venue| %>
  <li><h4><a href="/venues/<%= venue.id() %>"> <%= venue.venuename %></a></h4></li>
  <% end %>

<h1><strong>Upcoming Concerts</strong><small> year/month/day</small></h1>

<ul>
  <% if @concerts.any?() %>
  <% @concerts.each() do |concert| %>
  <li><h4><%= concert.bandname() %> @ VENUE <%= concert.venue_id %> on <%= concert.concert_date() %><h4></li>
  <% end %>
  <% else %>
  <%= "No Events Scheduled Here" %>
  <% end %>
</ul>
